*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.claude
# Sentry Config File
sentry.properties

.fake
pipeline/**/*.csv
pipeline/**/*.png
pipeline/**/d3-charts/*.json
pipeline/**/data/*.json
pipeline/**/output/*.json
pipeline/**/weekly/*.json
pipeline/**/daily/*.json

server/nginx/static/*.json
pipeline/04-fastbreak-charts/aws/.terraform/**
*.tfstate
*.tfstate.*
*.tfvars

.env
kmp/.kotlin/*
kmp/fastbreak.keystore
