*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.claude
# Sentry Config File
sentry.properties

.fake
pipeline/**/*.csv
pipeline/**/*.png
pipeline/**/*.json

server/nginx/static/*.json