*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle
.gradle/
build/

# Android
*.apk
*.ap_
*.aab

# IntelliJ
*.iml
.idea/

# macOS
.DS_Store

# Kotlin
*.kotlin_metadata

.kotlinfastbreak.keystore
