# fly.toml app configuration file generated for fastbreak-web on 2025-12-16T23:32:46-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fastbreak-web'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile.web'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
